.rightPathContainer
{
    width:100%;
}
.rightPathContainer > .rightPathGridWrapper {
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6em;
  }

  .rightPathContainer > .rightPathGridWrapper > .rightPathVideoContainer
 {
     margin: auto;
 } 


 .rightPathContainer > .rightPathGridWrapper > .rightPathContentContainer > .heading
 {
    max-width: 80%;
    margin-bottom: 16px;
    color: #485160;
    font-family: CeraproMedium, sans-serif;
    font-size: 32px;
    line-height: 1.3em;
    font-weight: 500;
 }

 .rightPathContainer > .rightPathGridWrapper > .rightPathContentContainer > .paragraph
 {
    margin-bottom: 0px;
    font-family: CeraproLight, sans-serif;
    color: #8a989e;
    font-size: 20px;
    line-height: 1.8em;
    font-weight: 400;
 }
 .rightPathContainer > .rightPathGridWrapper > .rightPathContentContainer > .paragraph > span
 {
    font-family: CeraproBold, sans-serif;
    background-image: linear-gradient(180deg, transparent 93%, #448ee4 0);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .4s ease;
 }
 .rightPathContainer > .rightPathGridWrapper > .rightPathContentContainer >  .paragraph > span:hover {
    background-size: 100% 100%;
  }